* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #F0F0F6;
}
img {
    display: block;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}


/*//// HERO //*/

.main-sec {
    display: flex;
    gap: 30px;
}
.left-skills-menu {
    width: 305px;
    height: 1315px;
    background-color: #ffffff;
}
.hero {
    width: 970px;
    height: 467px;
    background-color: #ffffff;
    margin: 0px;
    display: flex;
}
.rigth-navbar {
    width: 108px;
    height: 1315px;
    background-color: #ffffff;
}
.hero-info-list {
}
.main-text{
    width: 500px;
    color: var(--black, #2B2B2B);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 59.328px */
    padding: 93px 26.68px 18px 60px;
}
.front-span {
    color: var(--yellow, #FFB400);
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;
}
.main-paragraph {
    width: 424px;
    height: 88px;
    color: var(--paragraph-font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* H6 - 16px */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
    padding-left: 60px;
    padding-right: 102.68px;
    padding-bottom: 25px;
}
.button-contact {
    width: 154px;
    height: 51px;
    border: none;
    border-radius: 5px;
    background: var(--yellow, #FFB400);
    color: var(--black, #2B2B2B);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 9px;
    padding: 16px 32px;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 74px;
    margin-right: 732.68;
    transition: color 250ms, fill 250ms;
}
.button-contact:hover,
.button-contact:focus,
.button-contact:active +
.svg-hire-me:hover {
    color: #ffffff;
    fill: #ffffff;
}
.svg-hire-me:hover {
 
}
.main-photo {
    padding: 8px 56.6px 0.09px ;
}

/*///  LEFT SECTION //*/

.left-skills-menu {
    margin-right: 30px;
    margin-top: 12px;
}
.profile-photo {
    width: 150px;
    height: 150px;
    padding: 50px 35px 31px 34px;
    position: relative;
}
.icon-online {
    width: 28px;
    height: 28px;
    fill: var(--available, #7EB942);
    position: absolute;
    margin-left: 105px;
    margin-top: 50px;
}
.name-profile {
    color: var(--black, #2B2B2B);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    margin-bottom: 15px;
}
.profession-profile {
    color: var(--paragraph-font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-bottom: 15px;
}
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-list-profile {
    display: flex;
    gap: 15px;
    padding-left: 40px;
    padding-right: 46px;
}
.contact-list-item {
    width: 24px;
    height: 24px;
    background-color: #FFB400;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.contact-link-profile {
}
.link {
}
.line-of {
    display: flex;
    background-color: #f0f0f6;
    width: 220px;
    height: 1.5px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 45px;
}